.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 80px minmax(200px, auto) 60px;
  grid-gap: 10px;
  height: 100vh;
  padding: 10px;
}

header {
  grid-column: 1 / 4;
  background: #6fb1fc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

nav {
  background: #90ee90;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

main {
  background: #f0e68c;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

aside {
  background: #ffcccb;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

footer {
  grid-column: 1 / 4;
  background: #d3d3d3;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
